@import "tailwindcss";

:root {
  --spacing-sm: 1rem;
  --spacing-md: 5rem;
  --spacing-lg: 10rem;

  --color-bg: #ffffff;
  --color-text: #1a1a1a;
  --color-text-secondary: #4e4e4e;
  --color-main: #f2decb;
  --color-secondary: #e5b486;
  --color-border: rgba(0, 0, 0, 0.1);
}

.dark {
  --color-bg: #0a0a0a;
  --color-text: #ededed;
  --color-text-secondary: #c7c7c7;
  --color-main: #1b1b1f;
  --color-secondary: #2b2b30;
  --color-border: rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

@layer base {
  section {
    padding: 2rem;
    background-color: var(--color-main);
    border-radius: 1rem;
    border: 2px solid var(--color-border);
  }
}

@layer utilities {
  /* Разворачиваем карточку */
  .flip-y {
    transform: rotateY(180deg);
  }
}
